.profilePage {
  /* background-image: url('../../../public/profileIMG.jpeg'); */
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('../../../public/profileIMG.jpeg');
  background-size: contain; /* Ensure the background image covers the entire container */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* margin-top: 3rem; */
    height: 100vh;
  }
  
  .details {
    width: 28rem;
  }

  Title {
    font-weight: bold;
  }

