.loginPage {
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('../../../public/loginIMG.jpeg');
  background-size: contain; /* Ensure the background image covers the entire container */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.details {
  width: 28rem;
  margin-top: 3rem;
}

.details form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
}
